<div id="message-<%= message.id %>">
  <small>
    <%= image_tag message.user.photo, class: "message-user-pic" if message.user.photo.attached? %>
    <strong><%= message.user.nickname %></strong>
    <i><%= message.created_at.strftime("%A, %d %b %Y %l:%M %p") %></i>
  </small>
  <p class="message"><%= message.content %></p>
</div>
