<%= link_to "Create a new chatroom", new_chatroom_path, class: "btn btn-primary" %>
<div class="cardlists">
  <% @chatrooms.each_with_index do |chatroom, index| %>
    <div class="card" style="width: 18rem;">
      <%= link_to chatroom_path(chatroom), class: "delete-btn", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
        <i class="fa-solid fa-trash"></i>
      <% end %>
      <% if chatroom.photo.present? %>
        <%= cl_image_tag chatroom.photo.key, height: 300, width: 400, crop: :fill %>
      <% else %>
        <%= image_tag 'chats.png', height: 150, width: 150, alt: 'Placeholder Image' %>
      <% end %>
      <h5 class="chatroom-title"><%= link_to chatroom.name, chatroom_path(chatroom) %></h5>
      <div class="card-body">
        <p>
          <i class="fa-regular fa-user"></i>
          <% if @user_counts && @user_counts[index] %>
            <%= @user_counts[index] %>
          <% else %>
            no active users available
          <% end %>
        </p>
      </div>
    </div>
  <% end %>
</div>
