<div class="profile-container">
  <div class="profile-header">
    <h2>Our Soluna Community Members</h2>
  </div>
  <% @users.each do |user| %>
    <div class="all-users-card">
      <div class="user-pics">
        <% if user.photo.attached? %>
          <%= cl_image_tag user.photo.key, class: "user-pics" %>
        <% else %>
          <%= image_tag 'profile-pic.webp',class: "user-pics", height: 200, width: 200, alt: 'Placeholder Image' %>
        <% end %>
      </div>
      <h2 class="full-name"><%= user.first_name %> <%= user.last_name %></h2>
      <p class="user-name">@<%= user.user_name %></p>
      <p>
        <i class="fa-solid fa-circle" style="<%= user.online? ? 'color: #20b689;' : 'color: gray;' %>"></i>
        <%= user.status.present? ? user.status.capitalize : 'Offline' %>
      </p>
      <p>
        <button>
          <%= link_to "view my profile", user_path(user) %>
        </button>
      </p>
      <p><%= user.bio %></p>
    </div>
  <% end %>
</div>
<%= render "shared/footer"%>
