<div class="profile-container">
  <% @users.each do |user| %>
    <%= user.first_name %>
    <%= user.last_name %>
    <%= user.nickname %>
    <%= user.bio %>
  <% end %>
  <%= link_to 'Edit Profile', edit_user_path(current_user), class: "chatrooms-add-btn" %>
</div>
