<div class="profile-container">
  <div class="profile-header">
    <h2>Our Soluna Community Members</h2>
  </div>
  <% @users.each do |user| %>
    <div class="all-users-card">
      <div class="user-pics">
        <% if user.photo.attached? %>
          <%= cl_image_tag user.photo.key, class: "user-pics" %>
        <% else %>
          <%= image_tag 'profile-pic.webp', class: "user-pics", height: 200, width: 200, alt: 'Placeholder Image' %>
        <% end %>
      </div>
      <h2 class="full-name"><%= user.first_name %> <%= user.last_name %></h2>
      <p class="user-name">@<%= user.user_name %></p>
      <p>
        <i class="fa-solid fa-circle" style="<%= user.online? ? 'color: #20b689;' : 'color: gray;' %>"></i>
        <%= user.status.present? ? user.status.capitalize : 'Offline' %>
      </p>
      <p><%= user.bio %></p>
      <div class="friends-list">
        <% if user.friends.any? %>
          <p>Friends:</p>
          <ul>
            <% user.friends.each do |friend| %>
              <li><%= friend.user_name %></li>
            <% end %>
          </ul>
        <% else %>
          <p>No friends yet.</p>
        <% end %>
      </div>
      <% if current_user.friend_with?(user) %>
        <p>You are friends with <%= user.user_name %>.</p>
      <% elsif current_user.pending_invitations.exists?(friend: user) %>
        <p>Your friend request is pending.</p>
      <% else %>
        <%= button_to "Add Friend", send_invitation_user_path(user), method: :post, class: "add-friend-button", params: { authenticity_token: form_authenticity_token } %>
      <% end %>
    </div>
  <% end %>
</div>
<%= render "shared/footer" %>
