<div class="user-container">
  <% if @user.photo.attached? %>
    <%= cl_image_tag @user.photo.key,class:"chatrooms-pic"%>
  <% else %>
    <%= image_tag 'chats.png', height: 200, width: 200, alt: 'Placeholder Image' %>
  <% end %>
  <h1>
    <%= @user.first_name %>
  </h1>
  <%= @user.last_name %>
  <%= @user.nickname %>
  <%= @user.bio %>
  <%= link_to 'Edit Profile', edit_user_path(current_user), class: "chatrooms-add-btn" %>
</div>
