<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a class="navbar-brand" href="<%= root_path %>">
    <%= image_tag "chats.png", class:"navbar-pic" %>
  </a>
  <a class="nav-link" href="<%= chatrooms_path %>">Chatrooms</a>
  <a class="nav-link" href="<%= games_path %>">Games</a>
  <% if user_signed_in? %>
    <div class="dropdown-container">
      <%= current_user.nickname %>
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content" aria-labelledby="userDropdown">
      <%= link_to "My Profile", user_path(current_user), class: "dropdown-item", data: { turbo_frame: 'main' } %>
      <%= link_to "Other Users", users_path, class: "dropdown-item", data: { turbo_frame: 'main' } %>
      <%= link_to "Log out", destroy_user_session_path, data: { turbo_method: :delete, turbo_frame: 'main' }, class: "dropdown-item" %>
    </div>
  </div>
<% end %>
</div>
<span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Soluna</span>
