<!DOCTYPE html>
<html>
  <head>
    <title>Soluna</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%# <link rel="icon" href="chats.png" type="image/png"> %>
    <link rel="icon" href="favicon.ico" type="image/png" sizes="16rx16">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag 'navbar' %>
    <link rel="preload" as="style" href="<%= asset_path('application.css') %>">
  </head>
  <body>
    <%= render "shared/navbar" %>
    <%= render "shared/flashes" %>
    <%= yield %>
  </body>
</html>
